{% extends '../index.html' %}

{% block styleSheet %}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="/program/index">Home</a>
            </li>
            
            <li>
                <i class="ace-icon fa fa-files-o files-o-icon"></i>
                <a href="#">Publications</a>
            </li>
            
            <li class="active">Liste des publications</li>
        </ul>
        <!-- /.breadcrumb -->
        <!-- /.nav-search -->
    </div>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>
            Publication
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Gerer Publications
            </small>
        </h1>
    </div>
{% endblock %}

{% block scripts %}

{% endblock %}
