<div class="container-fluid" ng-controller="publicationsCtrl">
	<div class="row" id="wrap">
		<div class="col-lg-12">
			<h2 class="page-header">
	            Liste des evaluations
	            <small>
	                <i class="ace-icon fa fa-angle-double-right"></i>
	                Gerer vos evaluations
	            </small>
	        </h2>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div id="wrap" class="row" ng-if="!congresLoading">
	    <div class="col-md-4" ng-repeat="publication in publications">
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    {{publication.title}}
                </div>
                <div class="panel-body row">
                    <div class="col-md-5">
                    	<img src="/assets/avatars/avatar.png" style="width: 90%;">
                    </div>
                    <div class="col-md-4 col-md-offset-1">
                    	<h5 style="font-size: 16px;color: #337AB7;">{{publication.evaluation.value}}</h5>
                    </div>                    
                </div>
                <div class="panel-footer">
	                <div class="row">
	                	<div class="col-md-6">
		                	<a ng-click="modalType(1,publication);" data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-success" style="width: 100%;" ng-disabled="publication.evaluation.value != 'PENDING'">
					            Evaluer
				        	</a>
						</div>
	                	<div class="col-md-6">
		                	<a ng-click="" class="btn btn-sm btn-primary" style="width: 100%;">
					            Download
				        	</a>
						</div>
	                </div>
                </div>
            </div>
	    </div>
	</div>
	<!-- /.row -->
	<div class="row" ng-if="congresLoading">
		<div class="col-md-12 text-center">
			<div class="spinner">
				<div class="dot1"></div>
				<div class="dot2"></div>
			</div>
		</div>
	    <!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Evaluation</h4>
                </div>
                <div class="modal-body">
	                <div class="row" style="margin-bottom: 10px;">
	                    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Remarques</label>
	                    <div class="col-xs-12 col-sm-9 col-md-8">
	                        <textarea class="form-control" rows="3" ng-model="evalpub.evaluation.marks"></textarea>
	                    </div>
	                </div>                 
    	        	<div class="row" style="margin-bottom: 10px;">
	                    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Status</label>
	                    <div class="col-xs-12 col-sm-9 col-md-8">
	                        <select class="form-control" ng-model="evalpub.evaluation.value">
                                <option value="PENDING">En attente</option>
                                <option value="REJECTED">Refusé</option>
                                <option value="ACCEPTED">Accepté avec remarques mineurs</option>
                                <option value="MAJACCEPTED">Accepté avec remarques majeurs</option>
                            </select>
	                    </div>
	                </div>
	                <div class="row" style="margin-bottom: 10px;">
	                    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Rapport</label>
	                    <div class="col-xs-12 col-sm-9 col-md-8">
	                        <input type="file" class="form-control" ng-model="evalpub.evaluation.report" ng-disabled="disable">
	                    </div>
	                </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updatePublication(evalpub);">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
