<ul class="nav nav-list">

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text">
                Config Congres
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text">
                Experts
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-file-o"></i>
            <span class="menu-text">
                Publications
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">
                Sessions
            </span>
        </a>

        <b class="arrow"></b>
    </li>

</ul>
