<div class="panel-body">
    <ul class="timeline">
        <li ng-if="soumission || evaluation || finalisation || congreStart">
            <div class="timeline-badge"><i class="fa fa-check"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Phase de soumission</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>
                     From <i>{{congreObject.soumission.start | date : "d MMM"}}</i>
                     to <i>{{congreObject.soumission.end | date : "d MMM y"}}</i></small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Veuillez notifier les auteurs des deadline.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted" ng-if="evaluation || finalisation || congreStart">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Phase de selection</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>
                     From <i>{{congreObject.evaluation.start | date : "d MMM"}}</i>
                     to <i>{{congreObject.evaluation.end | date : "d MMM y"}}</i></small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Veuillez notifier les experts du deadline des evaluations.</p>
                </div>
            </div>
        </li>
<!--         <li class="timeline-inverted" ng-if="(finalisation || congreStart) && acceptedPub.length == 0">
            <div class="timeline-badge warning"><i class="fa fa-credit-card"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Information!</h4>
                </div>
                <div class="timeline-body">
                    <p>On regrette de vous informez qu'aucune de vos publications n'a etait acceptées.</p>
                </div>
            </div>
        </li> -->
        <li ng-if="finalisation || congreStart">
            <div class="timeline-badge danger"><i class="fa fa-bomb"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Phase de finalisation</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>
                     From <i>{{congreObject.finalisation.start | date : "d MMM"}}</i>
                     to <i>{{congreObject.finalisation.end | date : "d MMM y"}}</i></small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>Veuillez creer les sessions et notifier les auteurs du statut de leur publications ainsi que la creations des présentations.</p>
                </div>
            </div>
        </li>
<!-- 
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates est quaerat asperiores sapiente, eligendi, nihil. Itaque quos, alias sapiente rerum quas odit! Aperiam officiis quidem delectus libero, omnis ut debitis!</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge info"><i class="fa fa-save"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis minus modi quam ipsum alias at est molestiae excepturi delectus nesciunt, quibusdam debitis amet, beatae consequuntur impedit nulla qui! Laborum, atque.</p>
                    <hr>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>  <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Lorem ipsum dolor</h4>
                </div>
                <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi fuga odio quibusdam. Iure expedita, incidunt unde quis nam! Quod, quisquam. Officia quam qui adipisci quas consequuntur nostrum sequi. Consequuntur, commodi.</p>
                </div>
            </div>
        </li>
-->     
        <li class="timeline-inverted" ng-if="congreStart">
            <div class="timeline-badge success"><i class="fa fa-graduation-cap"></i>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Ouverture du congre</h4>
                    <p><small class="text-muted"><i class="fa fa-clock-o"></i>
                     From <i>{{congreObject.date_debut | date : "d MMM"}}</i>
                     to <i>{{congreObject.date_fin | date : "d MMM y"}}</i></small>
                    </p>
                </div>
                <div class="timeline-body">
                    <p>{{congreObject.nom}} ouvre ses portes!</p>
                    <br>
                </div>
            </div>
        </li>
    </ul>
</div>