{% extends './layout.html' %}

{% block content %}

<div class="jumbotron">
  <h1>Confy</h1>
  <p class="lead">
      L'objectif de ce projet est de mettre en place des applications informatiques pour gerer toutes les activites liees a l'organisation d'un congres scientifique.
  </p>
  <p>
      <a class="btn btn-lg btn-success" href="#" role="button">Creer un compte</a>
      <a class="btn btn-lg btn-success" href="#" role="button">S'authentifier</a>
  </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Gerer votre congres</h4>
    <p>Creer une nouvelle ediction d'un congres, gerer la phase de soumission, gerer vos badges, gerer votres commite de programmes....</p>

    <h4>Notifications</h4>
    <p>Notre plateforme pemettre a tous les acteurs de communiquer entre via des emails, et des notifications</p>

    <h4>Gerer les sessions </h4>
    <p>Le commite de prgrammes s'occupe de la gestion des sessions et des presentations</p>
  </div>

  <div class="col-lg-6">
    <h4>Espace Reviewer</h4>
    <p>Espace elegant pour evaluer les publications des auteurs</p>

    <h4>Espace Auteur</h4>
    <p>Cet espace pemet l'authentification et soumission de la publication, il permet aussi de suivre l'evaluation de cette derniere</p>

    <h4>Paiement</h4>
    <p>Recevoir en toute securite les paiement des participants et les visiteurs</p>
  </div>
</div>

{% endblock %}
