{% extends './layout.html' %}

{% block content %}
  <div class="container">
      <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-8 col-sm-offset-2 col-md-offset-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Inscription</h3>
            </div>
            <div class="panel-body">
              <form role="form">
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address">
                </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="address" id="address" class="form-control input-sm" placeholder="Address">
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="phone" id="phone" class="form-control input-sm" placeholder="Phone number">
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <select id="uniLab" name="uniLab" class="form-control">
                        <option value="" selected disabled default>Vous appartenez à un(e)</option>
                        <option value="1">Universitée</option>
                        <option value="2">Laboratoire</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <select id="typeUser" name="typeUser" class="form-control">
                        <option value="" selected disabled default>Vous etes un</option>
                        <option value="1">Auteur</option>
                        <option value="2">Visiteur</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-4">
                  <input type="submit" value="Register" class="btn btn-info btn-block">
                </div>
              
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>     

{% endblock %}
