<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="{{PublicationsCount}}" comments="Publications" colour="primary" type="comments" ng-click="panel='publications'"></stats>
        <stats number="{{auteursCount}}" comments="Auteurs" colour="green" type="user" ng-click="panel='auteurs'"></stats>
        <stats number="{{expertsCount}}" comments="Experts" colour="yellow" type="shopping-cart" ng-click="panel='experts'"></stats>
        <stats number="24" comments="Support tickets!" colour="red" type="support"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-info" ng-if="panel=='publications'">
                <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2" style="font-size: 20px;line-height: 1;">
                        Publications
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group" ng-click="filter[cat]=!filter[cat]" data-toggle="buttons" ng-repeat="cat in getEvaluations()" style="float: right;">
                        <label class="btn" ng-class="{'btn-default':cat=='PENDING', 'btn-success':cat=='ACCEPTED', 'btn-warning':cat=='MAJACCEPTED', 'btn-danger':cat=='REJECTED'}" ng-model="filter[cat]" >{{cat | lowercase}}
                            <input type="checkbox" ng-model="filter[cat]" />
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                        </div>                 
                    </div>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" ng-repeat="publication in filtered=(publications | filter:filterByEvaluations)">
                            <div class="offer" ng-class="{'offer-default':publication.evaluation.value=='PENDING', 'offer-success':publication.evaluation.value=='ACCEPTED', 'offer-warning':publication.evaluation.value=='MAJACCEPTED', 'offer-danger':publication.evaluation.value=='REJECTED'}" style="border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);">
                                <div class="shape">
                                    <div class="shape-text" style="right: -22px;top: -2px;font-size: 10px;">
                                        {{publication.evaluation.value}}                             
                                    </div>
                                </div>
                                <div class="offer-content">
                                    <h3 class="lead">
                                        {{publication.title}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            <div class="panel panel-info" ng-if="panel=='auteurs'">
                <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2" style="font-size: 20px;line-height: 1;">
                        Auteurs
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group" ng-click="statusFilter[cat]=!statusFilter[cat]" data-toggle="buttons" ng-repeat="cat in getStatus()" style="float: right;">
                        <label class="btn" ng-class="{'btn-default':cat=='PENDING', 'btn-success':cat=='APPROVED', 'btn-primary':cat=='REGISTERED'}" ng-model="statusFilter[cat]" >{{cat | lowercase}}
                            <input type="checkbox" ng-model="statusFilter[cat]" />
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                        </div>                 
                    </div>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" ng-repeat="auteur in filtered=(auteurs | filter:filterByStatus)">
                            <div class="offer" style="border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);">
                                <div class="shape">
                                    <div class="shape-text" style="right: -22px;top: -2px;font-size: 10px;">
                                        {{auteur.registrations[0].status}}                             
                                    </div>
                                </div>
                                <div class="offer-content row">
                                    <div class="col-md-4 col-lg-4" align="center" style="padding-right: 5px;padding-left: 5px;">
                                    <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> 
                                    </div>
                                    <div class="col-md-8 col-lg-8" align="center">
                                    <h3 class="lead" style="margin-top: 0px;">
                                        {{auteur.firstName}} {{auteur.lastName}}
                                    </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
            <div class="panel panel-info" ng-if="panel=='experts'">
                <div class="panel-heading">
                <div class="row">
                    <div class="col-md-2" style="font-size: 20px;line-height: 1;">
                        Experts
                    </div>
                    <div class="col-md-10">
                        <div class="btn-group" ng-click="statusFilter[cat]=!statusFilter[cat]" data-toggle="buttons" ng-repeat="cat in getStatusE()" style="float: right;">
                        <label class="btn" ng-class="{'btn-default':cat=='PENDING', 'btn-success':cat=='APPROVED', 'btn-primary':cat=='REGISTERED'}" ng-model="statusFilter[cat]" >{{cat | lowercase}}
                            <input type="checkbox" ng-model="statusFilter[cat]" />
                            <span class="glyphicon glyphicon-ok"></span>
                        </label>
                        </div>                 
                    </div>
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" ng-repeat="expert in filtered=(experts | filter:filterByStatusE)">
                            <div class="offer" style="border-radius: 5px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);">
                                <div class="shape">
                                    <div class="shape-text" style="right: -22px;top: -2px;font-size: 10px;">
                                        {{expert.registrations[0].status}}                             
                                    </div>
                                </div>
                                <div class="offer-content row">
                                    <div class="col-md-4 col-lg-4" align="center" style="padding-right: 5px;padding-left: 5px;">
                                    <img alt="User Pic" src="http://babyinfoforyou.com/wp-content/uploads/2014/10/avatar-300x300.png" class="img-circle img-responsive"> 
                                    </div>
                                    <div class="col-md-8 col-lg-8" align="center">
                                    <h3 class="lead" style="margin-top: 0px;">
                                        {{expert.firstName}} {{expert.lastName}}
                                    </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Notifications Panel
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <chat></chat>
             <!-- /.panel .chat-panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
