<div class="container-fluid" ng-controller="phasesCtrl">
	<div class="row">
		<div class="col-md-12">
			<h2 class="page-header">
	           {{congre.nom}}
	            <small>
	                <i class="ace-icon fa fa-angle-double-right"></i>
	                Suivre l'etat d'avancement
	            </small>
	        </h2>
		</div>
		<!-- /.col-lg-12 -->
    </div>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <div class="stepwizard">
                <div class="stepwizard-row">
                    <div class="liner"></div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle btn-sm"><i class="glyphicon glyphicon-transfer"></i></button>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Initiated via <strong>system goes here</strong></small>
                        </p>
                    </div>
                    <div class="stepwizard-step">
                        <a class="btn icon-btn btn-danger" href="#"><span class="glyphicon btn-glyphicon glyphicon-duplicate img-circle text-danger"></span>Soumission</a>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Initiated via <strong>system goes here</strong></small>
                        </p>
                    </div>
                    <div class="stepwizard-step">
                        <a class="btn icon-btn btn-info" href="#"><span class="glyphicon btn-glyphicon glyphicon-filter img-circle text-info"></span>Selection</a>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Initiated via <strong>system goes here</strong></small>
                        </p>
                    </div>
                    <div class="stepwizard-step">
                        <a class="btn icon-btn btn-success" href="#"><span class="glyphicon btn-glyphicon glyphicon-ok img-circle text-success"></span>finalisation</a>
                        <p>
                            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> Initiated via <strong>system goes here</strong></small>
                        </p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button" class="btn btn-default btn-circle btn-sm"><i class="glyphicon glyphicon-saved"></i></button>
                        <p><small class="text-muted">The result status and message</small></p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">

        </div>
	</div>
	<!-- /.row -->
</div>
