<ul class="nav nav-list">
    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text">
                Congres
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="form-elements.html">
                    <i class="menu-icon fa fa-plus"></i>
                    Creer Congre
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-list"></i>
                    Liste Congres
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>
    {% if program.open %}
        <li class="active open">
    {% else %}
        <li class="">
    {% endif%}
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-calendar"></i>
            <span class="menu-text">
                Programmes
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            {% if program.list_experts %}
                <li class="active">
            {% else %}
                <li class="">
            {% endif %}
                <a href="/organizer/list-experts">
                    <i class="menu-icon fa fa-users"></i>
                    Reviewers
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="form-elements-2.html">
                    <i class="menu-icon fa fa-users"></i>
                    Membres
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-pencil"></i>
            <span class="menu-text">
                Authors
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-users"></i>
            <span class="menu-text">
                Participants
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-barcode"></i>
            <span class="menu-text">
                Badges
            </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="index.html">
            <i class="menu-icon fa fa-envelope"></i>
            <span class="menu-text">
                Mailing
            </span>
        </a>

        <b class="arrow"></b>
    </li>

</ul>
