<div class="container-fluid" ng-controller="listCongresCtrl">
	<div class="row" ng-if="congreObject">
		<div class="col-md-12">
			<h2 class="page-header">
	            {{congreObject.nom}}
	            <small>
	                <i class="ace-icon fa fa-angle-double-right"></i>
	                Gerer votre congre
	            </small>
	        	<a ng-click="deleteCongre(congreObject._id);" class="btn btn-sm btn-danger" style="float: right;">
	            	Supprimer
        		</a>
	        </h2>	        
		</div>
		<!-- /.col-md-10 -->

		<!-- /.col-md-2 -->
	</div>
	<!-- /.row -->
	<div class="row" ng-if="congreObject">
	    <div class="col-md-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Informations
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Nom</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                        	<input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.nom" disabled>
                    	</div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Edition</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="number" class="form-control" placeholder="Enter text" ng-model="congreObject.edition" disabled>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Description</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <textarea class="form-control" rows="3" ng-model="congreObject.description" disabled></textarea>
                        </div>
                    </div>                              
                </div>
				<div class="panel-footer">
	                <div class="row">
	                	<div class="col-md-6 col-md-offset-3">
		                	<a ng-click="transform(congreObject.nom,congreObject.edition,congreObject.description)" data-toggle="modal" data-target="#myModal1" class="btn btn-sm btn-success" style="width: 100%;">
					            Modifier
				        	</a>
						</div>
	                </div>
                </div>
            </div>
	    </div>
	    <div class="col-md-5 col-md-push-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Contact
                </div>
                <div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Adresse email</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="email" class="form-control" placeholder="Email" ng-model="congreObject.email" disabled>
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Site</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.site" disabled>
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Telephone</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="phone" class="form-control" placeholder="Enter text" ng-model="congreObject.phone" disabled>
                        </div>
                    </div>
                </div>
				<div class="panel-footer">
	                <div class="row">
	                	<div class="col-md-6 col-md-offset-3">
		                	<a ng-click="" data-toggle="modal" data-target="#myModal2" class="btn btn-sm btn-success" style="width: 100%;">
					            Modifier
				        	</a>
						</div>
	                </div>
                </div>
            </div>
	    </div>
	</div>
	<div class="row" ng-if="congreObject">
	    <div class="col-md-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Periode
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
                            Date debut
                        </label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <span class="form-control" disabled>
                            	{{congreObject.date_debut | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
                            Date fin
                        </label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <span class="form-control" disabled>
                            	{{congreObject.date_fin | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Thematique</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.thematique" disabled>
                        </div>
                    </div> 
                </div>
				<div class="panel-footer">
	                <div class="row">
	                	<div class="col-md-6 col-md-offset-3">
		                	<a ng-click="" data-toggle="modal" data-target="#myModal3" class="btn btn-sm btn-success" style="width: 100%;">
					            Modifier
				        	</a>
						</div>
	                </div>
                </div>
            </div>
	    </div>
	    <div class="col-md-5 col-md-push-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Lieu
                </div>
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Adresse</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.location.address" disabled>
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Ville</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.location.city" disabled>
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Pays</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.location.country" disabled>
                        </div>
                    </div> 
                </div>
				<div class="panel-footer">
	                <div class="row">
	                	<div class="col-md-6 col-md-offset-3">
		                	<a ng-click="" data-toggle="modal" data-target="#myModal4" class="btn btn-sm btn-success" style="width: 100%;">
					            Modifier
				        	</a>
						</div>
	                </div>
                </div>
            </div>
	    </div>
	</div>
	<div class="row" ng-if="congreObject">
		<div class="col-md-7 col-md-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Phases
                </div>
                <div class="panel-body">
					<div class="row" style="margin-bottom: 10px;">
					    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
					        Soumission
					    </label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control" disabled>
                            	{{congreObject.soumission.start | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control" disabled>
                            	{{congreObject.soumission.end | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
					    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
					        Selection
					    </label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control" disabled>
                            	{{congreObject.evaluation.start | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control" disabled>
                            	{{congreObject.evaluation.end | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
					    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
					        Finalisation
					    </label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control" disabled>
                            	{{congreObject.finalisation.start | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control" disabled>
                            	{{congreObject.finalisation.end | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
					</div>                      
                </div>
				<div class="panel-footer">
	                <div class="row">
	                	<div class="col-md-6 col-md-offset-3">
		                	<a ng-click="" data-toggle="modal" data-target="#myModal5" class="btn btn-sm btn-success" style="width: 100%;">
					            Modifier
				        	</a>
						</div>
	                </div>
                </div>
            </div>
	    </div>
	</div>
	<!-- /.row -->
	<div class="row" ng-if="!congreObject">
		<div class="col-md-12">
			<h2 class="page-header">
	            <small class="text-center">
	                Vous n'avez aucun congre
	            </small>
	        	<a ui-sref="dashboard.newCongre" class="btn btn-sm btn-success" style="float: right;">
	            	Nouveau
	    		</a>
	        </h2>
		</div>
	    <!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->

    <!-- Modal -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Evaluation</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Nom</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                        	<input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.nom">
                    	</div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Edition</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="number" class="form-control" placeholder="Enter text" ng-model="congreObject.edition">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Description</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <textarea class="form-control" rows="3" ng-model="congreObject.description"></textarea>
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCongre(congreObject);">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Evaluation</h4>
                </div>
                <div class="modal-body">
					<div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Adresse email</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="email" class="form-control" placeholder="Email" ng-model="congreObject.email">
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Site</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.site">
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Telephone</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="phone" class="form-control" placeholder="Enter text" ng-model="congreObject.phone">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCongre(congreObject);">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Evaluation</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
                            Date debut
                        </label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <span class="form-control">
                            	{{congreObject.date_debut | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
                            Date fin
                        </label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <span class="form-control">
                            	{{congreObject.date_fin | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Thematique</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.thematique">
                        </div>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCongre(congreObject);">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Evaluation</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Adresse</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.location.address">
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Ville</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.location.city">
                        </div>
                    </div>                            
                    <div class="row" style="margin-bottom: 10px;">
                        <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">Pays</label>
                        <div class="col-xs-12 col-sm-9 col-md-8">
                            <input type="text" class="form-control" placeholder="Enter text" ng-model="congreObject.location.country">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCongre(congreObject);">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- Modal -->
    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Evaluation</h4>
                </div>
                <div class="modal-body">
					<div class="row" style="margin-bottom: 10px;">
					    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
					        Soumission
					    </label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <input class="form-control" type="date" ng-model="congreObject.soumission.start"/>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control">
                            	{{congreObject.soumission.end | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
					    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
					        Selection
					    </label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control">
                            	{{congreObject.evaluation.start | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control">
                            	{{congreObject.evaluation.end | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
					</div>
					<div class="row" style="margin-bottom: 10px;">
					    <label class="control-label col-xs-12 col-sm-3 col-md-4 no-padding-right">
					        Finalisation
					    </label>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control">
                            	{{congreObject.finalisation.start | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
                        <div class="col-xs-12 col-sm-9 col-md-4">
                            <span class="form-control">
                            	{{congreObject.finalisation.end | date:'dd/MM/yyyy'}}
                            </span>
                        </div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateCongre(congreObject);">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</div>
